.link{
    background-color: #fee002ed;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 500;
    color: #383838;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    border-radius: 32px;
    cursor: pointer;
}

.active-link{
    background-color: #383838;;
    color: #fee002ed;
}